body {
  font-family: 'Abril Fatface', cursive;
  color: #ffffff;
  background: linear-gradient(to left bottom, #0a56c8, #0081e6, #00a7f2, #00caf1, #12ebeb) no-repeat center center fixed; 
}
header {
  height: 100px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 40px;
  text-align: center;
}
header p{
  font-size: 18px;
}
tituloPrincipal{
  text-transform: uppercase;
  margin-bottom: 0;
}
main{
  margin: 0 auto;
  display: block;
  max-width: 1024px;
  width: 100%;
  text-align: center;
}
.card {
  display: inline-block;
  margin: 10px;
  border: 3px dotted #ffffff;
  vertical-align: top;
  max-height: 100%;
}
.card img {
  display: block;
  width: 300px;
  height: 300px;
}
.card details {
  width: 300px;
  height: auto;
  display: inline-block;
}
.card details summary {
  font-size: 18px;
  padding: 10px;
}
.card details p {
  padding: 0 10px;
}
.card details blockquote {
  font-style: italic;
  opacity: 0.7;
}
.indicaAtletas{
  font-size: 20px;
  text-align: center;
  margin: 40px 0;
}
.indicaAtletas h3{
  text-decoration: underline;  
}
.indicaAtletas #listaAtletas li {
  list-style-type: none;
  line-height: 1.5;
  padding-left: 0;
}
.indicaAtletas #listaAtletas li a, footer a{
  color: #0049a4;
  text-decoration: none;
}
footer{
  border-top: 1px solid #ffffff;
  text-align: center;
  margin: 40px auto;
  height: 100px;
}
.redes{
  margin: 20px 0 auto;
}

@media (max-width: 768px) {
  header {
    margin-bottom: 20px;
    height: 200px;
  }
  h1 {
    font-size: 36px;
  }
  .card {
    display: block;
    margin: 20px 10px;
  }
  .card img {
    height: 100%;
    width: 100%;
  }
  .card details {
    width: 100%;
  }
  .card details summary {
    font-size: 16px;
  }
  .card details p {
    font-size: 14px;
  }
}
